[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
pylint = "*"
black = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
start = "python -m src.main"
pytest = "pytest test/test.py"
